.card {
    background: var(--color-cardmain);
    width: 100%;
    min-width: 250px;
    height: 140px;
    padding: 20px;
    border: 1px solid var(--color-cardborder);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
  }
  
  .cardIcon {
    background: var(--color-cardicon);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    width: 18px;
    height: 18px;
  }
  
  .textmain {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
  }
  
  .text {
    color: var(--color-subTextColor);
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  
  .count {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 28px;
  }
  
  /* Media Queries for Responsiveness */
  
  /* For devices with width <= 768px (tablets and below) */
  @media (max-width: 768px) {
    .card {
      height: auto;
      padding: 15px;
      flex-direction: column;
      align-items: center;
    }
  
    .cardIcon {
      width: 50px;
      height: 50px;
    }
  
    .icon {
      width: 20px;
      height: 20px;
    }
  
    .text {
      font-size: 12px;
    }
  
    .count {
      font-size: 24px;
    }
  }
  
  /* For devices with width <= 480px (mobile devices) */
  @media (max-width: 480px) {
    .card {
      padding: 10px;
      height: auto;
      max-width: 100%;
    }
  
    .cardIcon {
      width: 40px;
      height: 40px;
    }
  
    .icon {
      width: 18px;
      height: 18px;
    }
  
    .text {
      font-size: 12px;
    }
  
    .count {
      font-size: 20px;
    }
  }
  