.inputField {
    margin-bottom: 20px;
  

  
    .inputWrapper {
      display: flex;
      align-items: center;
      position: relative;
  
      .input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
       
        outline: none;
        background-color: var(--color-white);
        color: var(--color-black);
        transition: border-color 0.2s;
        
        &:focus {
          border-color: #007bff;
        }
      }
  
      .toggleButton {
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        font-size: 16px;
        
        cursor: pointer;
        color: #666;
  
        &:hover {
          color: #000;
        }
      }
    }
  }
  
  .fontLable {
    font-family: "Helvetica", sans-serif;
    // font-weight: bold; /* Heavier bold */

    line-height: 46px;
    width: 450px;
    color: var(--color-black);
  }

 