:root {
  --color-white: white;
  --color-black: #000;
  --light-border: #B8B8B8;
  --font-color: rgba(226, 226, 226, 1);
  --color-blue: rgba(0, 103, 255, 1);
  --color-gray: rgba(11, 11, 11, 1);
  --color-sub-text: #0067FF;

  --radius-main:10px;


  // color set
  --color-subText:#10BA40;
  --color-subTextColor:#7B97A1;
  --color-notification:#484848;
  --color-notification-bg:#1E1E1E;

 --color-cardmain:#F9F9FC;
 --color-cardicon:#ECECF8;
 --color-cardborder:#E4E4F6;
 
 --color-select:#FBFF60;





}

[data-theme="dark"] {
  --color-white: rgba(25, 26, 29, 1);
  --color-black: #000;
  --font-color: rgba(226, 226, 226, 1);
  --color-blue: rgba(0, 103, 255, 1);
  --color-gray: rgba(11, 11, 11, 1);
}

