.otpContainer {
    max-width: 400px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 15px; /* Add some padding for better layout on smaller screens */
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--color-black);
  }
  
  p {
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--color-black);
  }
  
  .timer {
    font-size: 14px;
    color: var(--color-black);
    margin-bottom: 20px;
  }
  
  .otpInput {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .otpInput input {
    width: 48px;
    height: 48px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .resend {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--color-black);
    cursor: pointer;
    text-decoration: underline;
  }
  
  .resendOTP {
    color: var(--color-sub-text);
  }
  
  .verifyButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .footer {
    margin-top: 30px;
    font-size: 14px;
    color: var(--color-black);
  }
  
  .footer a {
    color: var(--color-sub-text);
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .otpContainer {
      max-width: 100%;
      padding: 20px; /* Add padding for better spacing */
    }
  
    h2 {
      font-size: 20px; /* Reduce font size on smaller screens */
    }
  
    p,
    .timer {
      font-size: 12px; /* Smaller text for better readability */
    }
  
    .otpInput input {
      width: 40px; /* Smaller input fields for mobile */
      height: 40px;
      font-size: 18px; /* Adjust font size for input fields */
    }
  
    .verifyButton {
      font-size: 14px; /* Smaller font size for the button */
      padding: 8px; /* Reduced padding */
    }
  
    .footer {
      font-size: 12px; /* Smaller font size for footer */
    }
  }
  
  @media (max-width: 480px) {
    .otpInput input {
      width: 35px; /* Even smaller inputs on very small screens */
      height: 35px;
      font-size: 16px; /* Adjust font size for very small screens */
    }
  
    .verifyButton {
      font-size: 12px; /* Even smaller font size */
      padding: 6px; /* Reduced padding */
    }
  
    .footer {
      font-size: 10px; /* Smaller footer text */
    }
  }
  